footer {
    position: relative;
    display: flex;
    z-index: 1;
    margin-top: 64px;
    padding-bottom: 100px;
    background: #f8f8f8;
    box-shadow: 0 -165px 1px #f8f8f8;
    .social-media{
        display: flex;
    }
    figure{
        position: relative;
        width: 34px;
        height: 34px;
        margin-right: 20px;
        border-radius: 70px;

        background-color: $main_color;
        img{
            position: absolute;
            width:110%;
            height: 110%;
            top: 0;
            left: 0;
        }
    }
    .social {
        width: 50%;
        color: $secondary_text;
        margin: 0 150px;

        p {
            width: 65%;        
            margin-bottom: 30px;
            margin-top: 20px;
        }
        mark {
            font-weight: 500;
            color: $secondary_text;
        }

        }
    nav{
        width: 50%;
        display: flex;
        justify-content: space-between;
        margin-right: 150px;
        ul{
            display: flex;
            flex-direction: column;
            li{
                display: flex;
                color: $main_text; 
                padding-bottom: 10px; 
                &:first-of-type{
                    a{
                        color: $main_text;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 30px;
                        padding-bottom: 20px;
                    }
                }    
            }
        }
    }
}