@import "normalize";
$main_color: #F53838;
$main_text:#0B132A;
$secondary_text:#4F5665;
@import "text__settings";
@import "header.scss";
@import "footer.scss";

// $secondary_color: #F53855;

    .container {
        display: flex;
        align-items: center;
    }
    .main-banner {
        display: flex;
        align-items:center;
        padding: 0 80px 0 150px;
        margin-bottom: 100px;
        .main-banner--description{
            width: 50%;
            margin-right: 40px;
            p {
                padding:20px 0 50px;
            }
        }
        img {
            width: 50%;
        }
    }
    .advantages {
        display: flex;
        height: 200px;
        margin: 0 150px;
        border-radius: 10px;
        align-items: center;
        padding: 91px 73px;
        justify-content: space-between;
        box-shadow: 0 45px 45px #f6f6f7;
        h4{
            color: $secondary_text;
        }
        .advantages-element {
            display: flex;
            align-items: center;
            padding-right: 130px;
            border-right: 2px solid #EEEFF2;
            figure {
                background: #FFECEC;
                border-radius: 70px;
                box-sizing: border-box;
                padding: 15.5px;
                margin: 16.5px;
            }
            &:last-of-type{
                padding: 0;
                border: 0;
            }
        }
        img{
            width: 24px;
            height: 24px;
        }
    }

    .features {
        margin: 150px 95px 150px 153px;
        .container{
            flex-direction: row-reverse;
            .features-image{
                width: 50%;
            }
            .features-content{
                width: 50%;
                box-sizing: border-box;
                padding-left: 170px;
                display: flex;
                flex-direction: column;
                
                p {
                    padding: 20px 0;
                }
                li{
                    padding-bottom: 15px;
                    p{
                        padding:  0 0 0 15px;
                        
                    }
                    
                }
            }
        
        }
    }
    .gradient-background {
        padding: 0 150px;
        background: linear-gradient(#fafafa, white);
    } 
    .services { 
        display: flex;
        flex-direction: column;
        margin-bottom: 150px;
        .services-title {
            width: 100%;
            display: flex;
            padding:80px 0 60px 0;
            flex-direction: column;
            align-items: center;
            text-align: center;
            p{
                padding-top: 20px;
                width: 50%;
            }
            
        }
        .services-list {
            display: flex;
            justify-content: center;
        }
        .services-list--product{
            position: relative;
            width: 30%;
            padding:  76px 76px 30px 76px;
            margin:0 25px;
            display: flex;
            flex-direction: column;

            background: #FFFFFF;
            border: 2px solid #DDDDDD;
            border-radius: 10px;
            &:hover{
                border: 2px solid $main_color;
            }
            .services-product--distriction{
                height: 80%;
                padding-bottom: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                h4{
                    padding: 30px 0;
                }
                li{
                    padding-bottom: 10px;
                }
            }
            .services-product--select {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
                height: 20%;
                h3{
                    font-weight: 400;
                    color: $secondary_text;
                }
                button {
                    padding: 13px 63px;
                }
            }
        }  
    }
    .global-map{
        display: flex;
        flex-direction: column;
        margin-bottom: 125px;
        .global-map--title{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding-bottom: 150px;
            h2{
            width: 33%;  
            }
            p{
                width: 45%;
                padding-top: 20px;
            }
        }
        .global-map-map{
            margin-left: auto;
            margin-right: auto 
        }
        .global-map--partners{
            display: flex;
            align-items: center;

            & div:first-of-type{
                padding-right: 48px;
            }
            & div:last-of-type{
                padding-left: 48px;
            }
        }
    }
    .reviews{
        display: flex;
        flex-direction: column;
        .reviews-main--title{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding-bottom: 60px;
            h2{
            width: 33%;  
            }
            p{
                width: 45%;
                padding-top: 20px;
            }
        }
        .reviews-swiper{
            display: flex;
            &:first-of-type{
                margin-left:50px;
            }
            .reviews-person{
                width: 400px;
                height: 230px;
                display: flex;                        
                padding:30px;
                margin-left: 50px;
                flex-direction: column;
                background: #FFFFFF;
                border: 2px solid #DDDDDD;
                border-radius: 10px;
                &:hover {
                border: 2px solid #F53838;
                }
                
            }
            .reviews-title{
                    display: flex;
                    flex-direction: row;
                    padding-bottom: 8px;
                    .reviews-person--name{
                        display: flex;
                        flex-direction: column;
                        align-items: center;;
                    }                  
                    img{
                        width: 50px;
                        height: 50px;
                        margin-right: 20px;
                    }
                    .reviews-rate{
                        display: flex;
                        align-items: center;
                        margin-left: auto;
                        img{
                            width: 16px;
                            height: 16px;
                            margin: 0;
                            margin-left: 10px;
                        }
                    }
                }
        }

        .navigation {
            display: flex;
            margin: 60px 150px;
            
        }
        .tabs-container{
            a{
                padding-left: 15px;
            }

        }
        .arrow-container{
            margin-left: auto;                
            display: flex;
            flex-direction: row;
            a{

                width: 60px;
                height: 60px;
                box-sizing: border-box;
                padding: 15px;
                border: 2px solid $main_color;
                border-radius: 70px;
                &:last-of-type{
                    margin-left: 20px;
                    background-color: $main_color;
                }
                img{
                    width: 30px;
                    height: 30px    ;
                }
            }
        }
    }

    .subscribe{
        position: relative;
        z-index: 2;
        background-color: white;
        @extend .advantages;
        .subscribe-title{
        margin: 58px 70p 58px;
        width: 37%;
        }
    }
